---
import { getAllUsers } from '../services/users.js'
import Users from '../components/Users.astro'
import Container from '../components/Container.astro'

export async function getStaticPaths() {
	const users = await getAllUsers()

	return users.map((user: { id: any; }) => ({
		params: { userId: user.id },
		props: { ...user }
	}))
}
---
<Container>
<h2 class='font-title text-5xl text-black text-center py-10'>Todos los usuarios</h2>
<Users/>
</Container>