---
import Users from '../components/Users.astro'
import Container from '../components/Container.astro'
---
<Container>
<h2 class='font-title text-5xl text-black text-center py-10'>Todos los usuarios</h2>
<Users/>
</Container>