---
import { hc } from 'hono/client';
import type { RouteType} from "../pages/api/[...path]";
const client: any = hc<RouteType>(Astro.url.origin + "/api/v1");	
const { id } = Astro.props;
const astro = Astro.url.pathname.split("/")[2];

const user = client.users.$get("astro");
console.log("User: " + user.username);
---
<p>Hello:  {user.username}</p>